<div class="flex mt-8 justify-center">
    <mat-card class="shadow w-4/12">
        <mat-card-content>
            <div class="p-8">
                <h2 class="text-3xl font-bold mb-4">{{ detailsBlog.title }}</h2>
                <p class="text-gray-700">{{ detailsBlog.content }}</p>
                <div class="mt-4 container">
                    <span class="text-gray-600">User:</span>
                    <mat-chip class="ml-2">{{ detailsBlog.user.username }}</mat-chip>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>