<div class="flex mt-8 justify-center">
    <mat-card class="shadow w-4/12">
        <mat-card-content>
            <div class="p-8">
                <h2 class="text-3xl font-bold mb-4">{{ deleteBlog.title }}</h2>
                <p class="text-gray-700">{{ deleteBlog.content }}</p>
                <div class="mt-4">
                    <span class="text-gray-600">User:</span>
                    <mat-chip class="ml-2">{{ deleteBlog.user.username }}</mat-chip>
                </div>
            </div>
            <div class="flex justify-around">
                <div>
                    <button mat-raised-button color="primary" (click)="onHomeButtonClick()">Cancel (Home)</button>
                </div>
                <div>
                    <button mat-raised-button color="warn" (click)="onDeleteButtonClick(deleteBlog.postID)">Delete</button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>